# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp.*
.pnp.js

# Environment files
.env
.env.*

# IDE or Editor directories and files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Logs
*.log
